@font-face {
    font-family: 'Kranky';
    src: url('./res/krank.woff2');
}

body {
    background-image: url(./res/img/fondo.png);
    background-size: cover;
    font-family: Kranky;
    text-shadow: 0px 0px 1px black;
}

#mensajeGanador {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    margin: auto;
    font-size: 3em;
    color: black;
    margin-top: 5%;
    /* text-shadow: 0px 0px 1px black; */

}

#textOculto {
    background-color: beige;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    border-radius: 20px;
    font-family: Kranky;
    font-size: 4em;
    letter-spacing: 0.25em;
    box-shadow: 0px 0px 15px rgba(00, 00, 00, 0.5);

}

.textoAnimado {
    animation: ampliar 2s ease-in-out infinite;
}

@keyframes ampliar {
    0% {
        font-size: 4em;
    }

    50% {
        font-size: 3.6em;
    }

    100% {
        font-size: 4em;
    }

}

#contenedorTexto {
    margin: auto;
    /* background-color: beige; */
    text-align: center;
    height: 10%;
    width: 100%;
    margin-top: 5%;
}

#imagenAhorcado img {
    width: 35%;
    margin: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

#inputTexto {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 30%;
    height: 8%;
    border: 0;
    border-radius: 10px;
    background-color: beige;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Kranky;
    font-size: 2em;
}

#contenedorPrincipal {
    /* background-color: aqua; */
    width: 50vw;
    height: 90vh;
    margin: auto;
    margin-top: -8px;
    margin-bottom: 2.5%;
    display: block;
}

#btnIniciar {
    display: block;
    width: 20%;
    height: 10%;
    margin: auto;
    margin-top: 5%;
    background-color: #C5E6A6;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    transition: all 400ms ease;
}

#btnIniciar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#btnIniciar:active {
    transform: scale(0.8);
    cursor: pointer;
}